.search-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    width: 80%;
    background-color: var(--darkgrey);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    margin: 2rem auto;
  }
  
  .search-box input {
    width: 100%;
    color: var(--white);
    background-color: var(--darkgrey);
    font-size: 1.2rem;
    font-family: "Inter";
    border: 0px solid #000;
  }
  
  .search-box input:focus {
    outline: none;
  }