.btn-div {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 3rem;
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    color: #fff;
    transition: all 0.3s;
  }
  
  .btn-div:hover {
    box-shadow: 4px 4px 10px rgba(58, 128, 233, 0.5);
  }
  
  .btn-outlined {
    width: fit-content;
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
    border: 2px solid var(--blue);
    border-radius: 3rem;
    cursor: pointer;
    font-weight: 600;
    background-color: var(--black);
    color: var(--white);
  }
  
  .btn-outlined:hover {
    background-color: var(--blue);
    transition: all 0.3s;
  }