.grey-wrapper {
    background-color: var(--darkgrey);
    padding: 1rem;
    border-radius: 1rem;
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  
  .coin-desc-heading {
    margin: 0px;
    font-size: 1.2rem;
  }
  
  .coin-desc-para {
    margin-bottom: 0px;
    font-size: 1rem;
    color: var(--white);
  }
  
  .coin-desc-para a {
    text-decoration: underline;
  }
  
  .coin-desc-para a:hover {
    color: var(--blue) !important;
  }
  
  @media only screen and (max-width: 800px) {
    .grey-wrapper {
      width: auto;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }