.header {
    position: sticky;
    top: 0;
    background-color: var(--black);
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  
  .header h1 {
    margin: 0;
    font-size: 1.3rem;
  }
  
  .links-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
  }
  
  .link {
    color: var(--grey);
    font-weight: 600;
    margin: 0px;
  }
  
  .link:hover {
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
  }
  .drawer-wrapper {
    display: none;
  }
  
  @media only screen and (max-width: 800px) {
    .header {
      padding: 1.5rem;
    }
  
    .links-flex {
      display: none;
    }
    .drawer-wrapper {
      display: block;
    }
    .mobile-drawer {
      width: 40vw;
      height: 100vh;
      background-color: var(--black);
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }