.toggle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
  }
  
  @media only screen and (max-width: 800px) {
    .toggle-btn {
      font-size: 0.7rem !important;
      padding: 0.5rem !important;
    }
  }